# RPC URL cho Polygon Amoy Testnet (có thể dùng Sepolia nếu muốn)
WEB3_RPC_URL=https://rpc-amoy.polygon.technology
# Deploy file TruySuatNongSan.sol trên Remix và dán địa chỉ Contract vào đây
WEB3_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
# Tên hàm dùng để đọc dữ liệu trên contract
WEB3_READ_METHOD=danhSachSanPham
FLASK_DEBUG=true
